// **** Variables

// **** USE

// Material Card
@use "@material/card";

// TextField
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

// Button
@use "@material/button/styles" as buttonn;
@use "@material/button";

// Snackbar
@use "@material/snackbar/mdc-snackbar";
@use "@material/snackbar";

// Menu
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

// Select
@use "@material/select/styles" as Select;
@use "@material/select";

// Tabs
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

// Icon button
@use "@material/icon-button/styles";

// Top Bar
@use "@material/top-app-bar/mdc-top-app-bar";

// Drawer
@use "@material/drawer";
@use "@material/list";

// Chip
@use "@material/chips/styles" as chipset;
@use "@material/chips";

// Tooltip
@use "@material/tooltip/styles" as tooltip;


// **** Include
@include card.core-styles;
@include textfield.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include snackbar.core-styles;
// @include chipset.core-styles;
// @include button.core-styles;
// @include list.core-styles;
// @include icon.icon-core-styles;
// @import "@material/icon-button/mdc-icon-button";

// Other styles
.mdc-text-field--custom {
    // @include textfield.focused-outline-color($primary-color);
    // @include textfield.outline-color(#39404A);
    @include textfield.label-color(black);
    width: 100%;
}

.mdc-text-field--search {
    @include textfield.outline-shape-radius(50px);
    padding-left: 20px;
    padding-right: 20px;
    @include textfield.height(40px);
    @include textfield.focused-outline-color(none);
}

.mdc-select {
    @include select.label-color(black);
}

.mdc-snackbar-custom { 
    @include snackbar.z-index(600);
    top: 0;
    bottom: auto;
}

.chip-red {
    @include chips.ripple-color(red);
    @include chips.selected-container-color(red);
}

$primay_button-colors: (
    "default": "#107acc",
);

.mdc-button-custom {
    @include button.height(40px);
    @include button.shape-radius(12px);
    text-transform: none;
    // @include button.container-fill-color($primay_button-colors);
}

.mdc-button-report {
    @include button.container-fill-color(#142157);
}

// .mdc-button-custom {
//     @include button.shape-radius(120px, 1, False)
// }

.theme-dark {
    --mdc-theme-primary: #39404A;
}

.theme-blue {
    --mdc-theme-primary: #107acc;
}
