.title {
    font-size: 28px;
}

.bold {
    font-weight: 600;
}

.card-container {
    padding: 16px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.capitalize {
    text-transform: capitalize;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-actions {
    gap: 8px;
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        margin-top: 10px;    
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    // margin-top: 30px;

    @media only screen and (max-width: 600px) {
        // display: block;
        grid-template-columns: 1fr;
    }
}

.grid-col-span-2 {
    grid-column: span 2;
    @media only screen and (max-width: 600px) {
        // display: block;
        grid-column: 1;
    }
}

.grid-col-2 {
    grid-column: 2;
    @media only screen and (max-width: 600px) {
        // display: block;
        grid-column: 1;
    }
}

.responsive-table {
    
    overflow-x: auto;
    display: block;
    @media only screen and (max-width: 600px) {
        // display: block;
        width: 100%;
    }
}

.grid-col-span-1 {
    grid-column: 1;
}

h4, h5 {
    margin: 0;
    font-weight: 400;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 600px) {
        // display: block;
        flex-direction: column;
    }
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.body-content {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
    @media only screen and (max-width: 600px) {
        // display: block;
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-columns-3 {
    grid-template-columns: repeat(3, 1fr);
    @media only screen and (max-width: 600px) {
        // display: block;
        grid-template-columns: repeat(1, 1fr);
    }
}

.align-start {
    align-items: flex-start;
}

.gap-8 {
    gap: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-18 {
    margin-top: 18px;
}

p {
    margin: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Media queries para mobile class .header-content display: flex column
@media only screen and (max-width: 600px) {
    .header-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: normal;
    }
}

.account-username {
    text-align: right;
    @media only screen and (max-width: 600px) {
        // display: block;
        display: none;
    }
}

.account-username__secondary {
    display: none;
    @media only screen and (max-width: 600px) {
        // display: block;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-fixed{
        bottom: 0px;
        width: 100%;
        position: sticky;
        padding-bottom: 5px;
        background-color: white;
    }
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media only screen and (max-width: 600px) {
    .mobile-only {
        display: block;
    }
    
    .desktop-only {
        display: none;
    }
}
